spring.application.name=clientes
spring.config.import=optional:file:.env
spring.data.mongodb.uri=mongodb+srv://${MONGO_USER}:${MONGO_PASS}@${MONGO_CLUSTER}/${MONGO_DB}?appName=${MONGO_DB}
server.port=8080
